.products-wrapper {
  display: flex;
}
.products-wrapper .product-item {
  width: 20%;
  padding: 5px;
}
.products-wrapper .product-item img {
  width: 100%;
  height: 150px;
  border: 1px solid #c0c0c0;
}
.products-wrapper .product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.products-wrapper button {
  display: block;
  width: 100%;
  border: 0;
  background: #2ea043;
  color: #fff;
  padding: 7px;
  border-radius: 6px;
}

.product-info img {
  display: block;
  width: 40%;
  height: 40%;
  margin: 20px auto;
}
.product-info p {
  color: #2ea043;
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 20px;
  background: tomato;
  border-radius: 40%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .products-wrapper .product-item {
    width: 24%;
  }
  .products-wrapper .product-title {
    display: block;
  }
  .product-info img {
    width: 100%;
  }
}